# Python caches
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Mypy & pytest cache
.mypy_cache/
.pytest_cache/

# IDE/editor files (example for VSCode, PyCharm)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db